{% extends "layouts/base.html" %}
{% block content %}
<body class="">
  
      {% include 'includes/sidebar.html' %}


    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">Analysis</h6>
                    <h4 class="card-title">
                      Here is your Analysis   
                    </h4>
                    <a href="/" class="btn btn-primary btn-round">Home</a>
                </div>
            </div>
        </div>
    </div>

</body>
    
{% endblock content %}