{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body all-icons">
        <div class="row">
            <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
              <img src="/static/assets/img/ahmedabad.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/ahmedabad1.html">Ahmedabad</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/bng.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/bengaluru.html">Bengaluru</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/chandi.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/chandigarh.html">Chandigarh</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/ctrl.png" width="90" height="50" ></img>
              <p><a href="http://127.0.0.1:8000/chennai.html"><h5>Chennai</h5></a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/delhi.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/delhi.html">Delhi</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/hyderabad.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/hyderabad.html">Hyderabad</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/kochi.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/kochi.html">Kochi</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/bridge.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/kolkata.html">Kolkata</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/mumbai.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/mumbai.html">Mumbai</a></p>
            </div>
          </div>
          <div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <img src="/static/assets/img/pune.png" width="70" height="70" ></img>
              <p><a href="http://127.0.0.1:8000/pune.html">Pune</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
