{% extends "layouts/base2.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
              
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" id=""><a href="http://127.0.0.1:8000/contact.html">Back</a></button>
    </span>
<div class="row">
    <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/a4.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Kalpesh Mohan Kamath
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/a4.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Tushar G. Wable
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/a4.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Sushil Kumar Tiwari
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/m1.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Ujwala Shamrao Sapkale
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/a4.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Vaishali Soni
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/a4.jpg" alt="Bill Gates photo - when buys a Linux.">
              <h5 class="title">
                Advocate Amrapali Kandge
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            <h5>Email:</h5>
            <h5>Contact:</h5>
            <h5>Website:</h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
