{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <center><img class="avatar" src="/static/assets/img/hc1.png" width="700" height="600" alt="">
    <br>
    <br>
    <blockquote>
     <p class="blockquote blockquote-primary" align="justify">
      The High Court is the supreme judicial body in a state. According to Article 214, each state of India shall have a High Court. However, Article 231 also mentions that there can be a common High Court for two or more States or for two or more states and a union territory.      
      <br> <br>Civil courts: Civil courts deal with civil cases. Civil law is applied in disputes when one person sues another person or entity. Examples of civil cases include divorce, eviction, consumer problems, debt or bankruptcy, etc.
      <br> <br> Criminal Courts: Criminal Courts are established to impart justice to people and punish the offenders that go against the law. Criminal courts are established to solve serious crimes such as assault, robbery, murder, arson, rape and other kinds of crimes.
     </p>
   </blockquote>
  <div class="card ">
            <div class="card-header">
                <br>
            <h3 class="title">&nbsp &nbsp &nbsp High Courts Of India </h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                        High Court
                    </th>
                    <th class="text-center">
                        Established
                    </th>
                    <th class="text-center">
                        Act Established
                    </th>
                    <th class="text-center">
                      Judges (Permanent Bench)
                    </th>
                    <th class="text-center">
                        Chief Justice
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            Allahabad
                        </td>
                        <td class="text-center">
                            17 March 1866
                        </td>
                        <td class="text-center">
                            Indian High Courts Act 1861                    </td>
                        <td class="text-center">
                            160
                        </td>
                        <td class="text-center">
                          Rajesh Bindal
                        </td>
                      </tr>
                  <tr>
                    <td class="text-center">
                        Andhra Pradesh 
                    </td>
                    <td class="text-center">
                        1 January 2019
                    </td>
                    <td class="text-center">
                        Andhra Pradesh Reorganisation Act, 2014                </td>
                    <td class="text-center">
                      37
                    </td>
                    <td class="text-center">
                        Prasanth Kumar Mishra
                      </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Bombay
                    </td>
                    <td class="text-center">
                        14 August 1862
                    </td>
                    <td class="text-center">
                        Indian High Courts Act 1861
                    </td>
                    <td class="text-center">
                        94
                    </td>
                    <td class="text-center">
                      Dipankar Datta
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Calcutta
                    </td>
                    <td class="text-center">
                        2 July 1862
                   </td>
                    <td class="text-center">
                        Indian High Courts Act 1861
                    </td>
                    <td class="text-center">
                        72
                    </td>
                    <td class="text-center">
                      Prakash Shrivastava
                    </td>
    
                  </tr>
                  <tr>
                    <td class="text-center">
                        Delhi
                    </td>
                    <td class="text-center">
                        31 October 1966
                    </td>
                    <td class="text-center">
                        Delhi High Court Act, 1966
                    </td>
                    <td class="text-center">
                        60
                    </td>
                    <td class="text-center">
                      Satish Chandra Sharma
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      Karnataka
                    </td>
                    <td class="text-center">
                        23 May 1884
                    </td>
                    <td class="text-center">
                        Mysore High Court Act, 1884
                    </td>
                    <td class="text-center">
                        62
                    </td>
                    <td class="text-center">
                      Ritu Raj Awasthi
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Madhya Pradesh
                    </td>
                    <td class="text-center">
                        2 January 1936
                    </td>
                    <td class="text-center">
                        Government of India Act 1935
                    </td>
                    <td class="text-center">
                        53
                    </td>
                    <td class="text-center">
                      Ravi Malimath
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Madras
                    </td>
                    <td class="text-center">
                        15 August 1862
                    </td>
                    <td class="text-center">
                        Indian High Courts Act 1861
                    </td>
                    <td class="text-center">
                        75
                    </td>
                    <td class="text-center">
                      Munishwar Nath Bhandari
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Punjab & Haryana
                    </td>
                    <td class="text-center">
                        15 August 1947
                    </td>
                    <td class="text-center">
                        Punjab High Court Ordinance, 1947
                    </td>
                    <td class="text-center">
                        85
                    </td>
                    <td class="text-center">
                      Ravi Shankar Jha
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        Rajasthan
                    </td>
                    <td class="text-center">
                        21 June 1949
                    </td>
                    <td class="text-center">
                        Rajasthan High Court Ordinance, 1949
                    </td>
                    <td class="text-center">
                        50
                    </td>
                    <td class="text-center">
                      Sambhaji Shiwaji Shinde
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

 
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
