{% extends "layouts/base2.html" %}



<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>

th {
  text-align: center;
}

td{
text-align: center;
}

td.left{
text-align: left;
width: 1px;
white-space: nowrap;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
}

</style>

{% endblock stylesheets %}

{% block content %}
<div class="row">
<body>

    <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h2 class="card-title">Recents</h2>
            <table class="table align-middle mb-0" style="table-layout: auto;">
              <thead class="bg-dark">
                <tr>
                  <th>Case Name</th>
                  <th>Case Description</th>
                  <th>Acceptance Rate</th>
                  <th>Predicted Timeline </th>
                  <th>View Case</th>
                  <th>Similar Cases</th>
                  <th>Relevant Statutes</th>
                </tr>
              </thead>
              <tbody>
                {% for f in files %}
                <tr>
                  
                  <td class="fitwidth">

                        <p class="fw-bold mb-1">{{ f.uploadfile_name }}</p>
                  </td>
                  
                  <td class="left">
                      <p class="fw-normal mb-1">{{ f.uploadfile_description }}</p>

                  </td>
                  
                  <td>
                    <span class="badge  badge-primary rounded-pill d-inline">{{f.prediction}} %</span>
                  </td>
                  <td>
                    <span class="badge  badge-primary rounded-pill d-inline"> 10 days </span>
                  </td>
                  <td >
                    <button type="submit" class="btn btn-default" id="add-btn">View Case</button>
                    </td>           
                  <td >
                    <form action="{% url 'similar' id=f.id %}"  method="POST" role="form">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-default" id="add-btn">Get Similar Cases</button>
                    </form>
                  </td>
                  <td >
                    <form action="{% url 'similar' id=f.id %}"  method="POST" role="form">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-default" id="add-btn">Get Relevant Statutes</button>
                    </form>
                  </td>
                  
                </tr>
                {% empty %}
                <p>No files added.</p>
                {% endfor %}
    
              </tbody>
            </table>


          </div>
        </div>
      </div>

</body>

{% endblock content %}